# IMPORTACION DE LIBRERIAS Y LECTURA DEL DATASET

In [65]:
# Librerías básicas
import pandas as pd
import numpy as np
from tabulate import tabulate

# Librerías de visualización
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
#Lectura del dataset
df = pd.read_csv("airline_passenger_satisfaction.csv")

In [19]:
# Configura Pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

df.head(10)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
5,5,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,2,1,1,2,1,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied
6,6,82113,Male,Loyal Customer,47,Personal Travel,Eco,1276,2,4,2,3,2,2,2,2,3,3,4,3,5,2,9,23.0,neutral or dissatisfied
7,7,96462,Female,Loyal Customer,52,Business travel,Business,2035,4,3,4,4,5,5,5,5,5,5,5,4,5,4,4,0.0,satisfied
8,8,79485,Female,Loyal Customer,41,Business travel,Business,853,1,2,2,2,4,3,3,1,1,2,1,4,1,2,0,0.0,neutral or dissatisfied
9,9,65725,Male,disloyal Customer,20,Business travel,Eco,1061,3,3,3,4,2,3,3,2,2,3,4,4,3,2,0,0.0,neutral or dissatisfied

- Se mira información del dataset: columnas 25, filas 103903, y solo la columna Arrival Delay in Minutes tiene nulos.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

- Se rectifica que solo haya una columna con datos nulos efectivamente solo hay en la columna Arrival Delay in Minutes **310 datos nulos**, posteriormente se decidirá que hacer con estos nulos.

In [24]:
df.isna().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [21]:
df.nunique()

Unnamed: 0                           103904
id                                   103904
Gender                                    2
Customer Type                             2
Age                                      75
Type of Travel                            2
Class                                     3
Flight Distance                        3802
Inflight wifi service                     6
Departure/Arrival time convenient         6
Ease of Online booking                    6
Gate location                             6
Food and drink                            6
Online boarding                           6
Seat comfort                              6
Inflight entertainment                    6
On-board service                          6
Leg room service                          6
Baggage handling                          5
Checkin service                           6
Inflight service                          6
Cleanliness                               6
Departure Delay in Minutes              446
Arrival Delay in Minutes                455
satisfaction                              2
dtype: int64

- Revisamos los valores unicos de la columna "Arrival Delay in Minutes" para ver si se podia pasar de float a int.

In [69]:
# Utiliza el método unique() para obtener todos los valores únicos
unique_values = df['Arrival Delay in Minutes'].unique()

# Muestra todos los valores únicos en la columna 'Arrival Delay in Minutes'
for value in unique_values:
    print(value)

18.0
6.0
0.0
9.0
23.0
8.0
35.0
51.0
10.0
5.0
4.0
29.0
44.0
28.0
12.0
120.0
24.0
1.0
20.0
31.0
15.0
48.0
26.0
49.0
2.0
37.0
50.0
3.0
19.0
72.0
11.0
34.0
62.0
27.0
52.0
13.0
82.0
30.0
16.0
7.0
122.0
179.0
125.0
17.0
nan
89.0
101.0
14.0
61.0
32.0
33.0
41.0
191.0
138.0
53.0
22.0
57.0
65.0
76.0
107.0
92.0
164.0
21.0
40.0
55.0
185.0
63.0
77.0
86.0
91.0
100.0
54.0
36.0
70.0
139.0
67.0
163.0
128.0
180.0
93.0
121.0
45.0
105.0
126.0
56.0
73.0
212.0
88.0
241.0
172.0
175.0
111.0
99.0
25.0
42.0
226.0
46.0
131.0
260.0
69.0
142.0
58.0
75.0
38.0
66.0
39.0
103.0
307.0
156.0
74.0
109.0
155.0
60.0
154.0
43.0
147.0
217.0
124.0
47.0
150.0
116.0
171.0
84.0
123.0
165.0
94.0
83.0
336.0
59.0
219.0
87.0
459.0
68.0
104.0
133.0
134.0
81.0
259.0
80.0
79.0
222.0
203.0
354.0
214.0
78.0
95.0
71.0
110.0
85.0
146.0
196.0
98.0
470.0
264.0
149.0
113.0
119.0
106.0
216.0
160.0
285.0
115.0
186.0
211.0
323.0
176.0
167.0
242.0
284.0
200.0
145.0
108.0
174.0
132.0
313.0
331.0
288.0
118.0
225.0
64.0
324.0
190.0
177.0
136.0
320.0
201.0
271.0
96.0
152.0
280.0
141.0
157.0
153.0
130.0
140.0
112.0
257.0
117.0
235.0
90.0
181.0
183.0
127.0
471.0
227.0
102.0
135.0
129.0
255.0
192.0
348.0
438.0
446.0
184.0
168.0
166.0
310.0
173.0
261.0
161.0
236.0
151.0
182.0
321.0
233.0
137.0
433.0
1280.0
218.0
148.0
144.0
187.0
206.0
170.0
209.0
114.0
224.0
281.0
223.0
638.0
220.0
234.0
97.0
265.0
388.0
262.0
221.0
162.0
267.0
374.0
228.0
244.0
247.0
691.0
143.0
189.0
197.0
204.0
319.0
273.0
329.0
195.0
486.0
178.0
270.0
158.0
199.0
213.0
383.0
302.0
600.0
215.0
169.0
188.0
266.0
292.0
287.0
230.0
239.0
289.0
298.0
232.0
363.0
205.0
295.0
283.0
524.0
327.0
246.0
290.0
314.0
316.0
304.0
202.0
296.0
248.0
386.0
381.0
159.0
322.0
460.0
418.0
349.0
256.0
249.0
194.0
315.0
208.0
193.0
371.0
229.0
391.0
454.0
445.0
210.0
268.0
253.0
245.0
337.0
297.0
436.0
279.0
300.0
240.0
237.0
207.0
198.0
404.0
243.0
341.0
278.0
305.0
860.0
258.0
702.0
360.0
493.0
427.0
335.0
516.0
272.0
410.0
555.0
392.0
252.0
330.0
382.0
293.0
277.0
231.0
275.0
362.0
276.0
729.0
357.0
326.0
250.0
458.0
334.0
291.0
380.0
359.0
346.0
624.0
377.0
372.0
429.0
589.0
301.0
502.0
299.0
457.0
238.0
401.0
440.0
286.0
274.0
311.0
303.0
604.0
717.0
356.0
409.0
823.0
294.0
251.0
431.0
432.0
403.0
318.0
503.0
338.0
364.0
407.0
368.0
308.0
254.0
435.0
263.0
417.0
358.0
416.0
561.0
351.0
952.0
1011.0
924.0
306.0
424.0
485.0
443.0
317.0
518.0
350.0
444.0
312.0
397.0
593.0
393.0
720.0
366.0
455.0
269.0
434.0
970.0
347.0
309.0
378.0
379.0
395.0
370.0
448.0
920.0
389.0
355.0
342.0
1584.0
500.0
402.0
406.0
484.0
412.0
567.0
420.0
399.0
345.0
353.0
422.0
282.0
507.0
425.0
339.0
352.0
385.0
705.0
369.0

# ANALISIS DE VARIABLES NUMERICAS

In [35]:
var_numericas = ["id","Age","Flight Distance","Inflight wifi service","Departure/Arrival time convenient",	"Ease of Online booking",
                 "Gate location",	"Food and drink",	"Online boarding",	"Seat comfort",	"Inflight entertainment",	"On-board service",	
                 "Leg room service",	"Baggage handling",	"Checkin service",	"Inflight service",	"Cleanliness",	"Departure Delay in Minutes",	
                 "Arrival Delay in Minutes"]

In [34]:
df.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103904.0,103594.0
mean,51951.5,64924.2,39.4,1189.4,2.7,3.1,2.8,3.0,3.2,3.3,3.4,3.4,3.4,3.4,3.6,3.3,3.6,3.3,14.8,15.2
std,29994.6,37463.8,15.1,997.1,1.3,1.5,1.4,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.2,1.3,1.2,1.3,38.2,38.7
min,0.0,1.0,7.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25%,25975.8,32533.8,27.0,414.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,0.0,0.0
50%,51951.5,64856.5,40.0,843.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,0.0,0.0
75%,77927.2,97368.2,51.0,1743.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0,12.0,13.0
max,103903.0,129880.0,85.0,4983.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1592.0,1584.0

In [57]:
df[["Seat comfort"]].value_counts()

Seat comfort
4               31765
5               26470
3               18696
2               14897
1               12075
0                   1
Name: count, dtype: int64

# ANALISIS DE VARIABLES CATEGORICAS

In [58]:
var_categoricas =[column for column, count in dict(df.nunique()).items()
             if (df[column].dtype=="O") & (count<10)]
var_categoricas

['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']

In [67]:
# Obtener categorías únicas (incluyendo valores nulos) de las columnas deseadas
categorias_por_columna = {}
for columna in var_categoricas:
    categorias = df[columna].unique()
    categorias = [str(cat) if not pd.isnull(cat) else 'NaN' for cat in categorias]
    categorias_por_columna[columna] = categorias

# Mostrar las categorías en una tabla usando tabulate
tabla = []
for columna, categorias in categorias_por_columna.items():
    tabla.append([columna, ", ".join(categorias)])

tabla_formateada = tabulate(tabla, headers=["Columna", "Datos Categorícos (con Nulos)"], tablefmt="grid")
print(tabla_formateada)

+----------------+------------------------------------+
| Columna        | Datos Categorícos (con Nulos)      |
+================+====================================+
| Gender         | Male, Female                       |
+----------------+------------------------------------+
| Customer Type  | Loyal Customer, disloyal Customer  |
+----------------+------------------------------------+
| Type of Travel | Personal Travel, Business travel   |
+----------------+------------------------------------+
| Class          | Eco Plus, Business, Eco            |
+----------------+------------------------------------+
| satisfaction   | neutral or dissatisfied, satisfied |
+----------------+------------------------------------+